<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 별칭 -->
	<typeAliases>
		<typeAlias type="com.watcher.business.member.param.MemberParam" alias="memberParam"			/>
		<typeAlias type="com.watcher.business.board.param.NoticeParam" alias="noticeParam"			/>
		<typeAlias type="com.watcher.business.comm.param.CategoryParam" alias="categoryParam"		/>
		<typeAlias type="com.watcher.business.management.param.MemberCategoryParam" alias="memberCategoryParam"	/>
		<typeAlias type="com.watcher.business.story.param.StoryParam" alias="storyParam"			/>
		<typeAlias type="com.watcher.business.comm.param.FileParam" alias="fileParam"			/>
		<typeAlias type="com.watcher.business.management.param.ManagementParam" alias="managementParam"		/>
		<typeAlias type="com.watcher.business.visitor.param.VisitorParam" alias="visitorParam"		/>
		<typeAlias type="com.watcher.business.keyword.param.PopularKeywordParam" alias="popularKeywordParam"		/>
	</typeAliases>

</configuration>