spring:
  config:
    activate:
      on-profile: prod

  servlet:
    multipart:
      enabled: true
      location: /home/ec2-user/watcher/upload
      max-file-size: 128MB
      max-request-size: 128MB

  session:
    store-type: redis
    timeout: 30m
  redis:
    host: localhost
    port: 6379

upload:
  root: /home/ec2-user
  path: /watcher/upload

db:
  url: jdbc:log4jdbc:mariadb://watcher-db.caopszgvg30l.ap-northeast-2.rds.amazonaws.com:3306/watcher
  #url: jdbc:log4jdbc:mariadb://192.168.0.5:3306/watcher
  username: ${WATCHER_DB_USER}
  password: ${WATCHER_DB_PASSWORD}
  driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy

server:
  port: 8081

logging:
  config: classpath:watcher-prod-logback.xml
#  file:
#    name: catalina
#    path: ${WATCHER_WAS_LOG}

aws:
  bucket:
    url: https://watcher-bucket.s3.ap-northeast-2.amazonaws.com/
    name: watcher-bucket
  separator: '/'

server_domain: ${WATCHER_DOMAIN}

cors:
  origin: ${WATCHER_CORS_ORIGIN}
  method: GET,POST,PUT,DELETE

naver:
  login:
    token: r_P2RApQNgYR3fttFpHz
    callback: https://www.watcher.kr/sign/naver/success
  client:
    id: r_P2RApQNgYR3fttFpHz
    secret: kc57YTY7h0

kakao:
  login:
    token: 187ce89af93017592fdc1f3e9e10cf7c
  logout:
    token: 2c4cb457c99ca790e084a154e453a6f6

enc:
  aes:
    key: Ak8PsEOGROfCvyrAdRYFD0oTbhS8eV
